@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #323638;
}

/*-------------------------------------*/

html {
  scroll-behavior: smooth;
}

/*HEADER*/

.header__a:hover {
  color: #a807a8fd;
  transition: 1s;
}

/*---------------------------------*/
/*body*/
.body-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
/*---------------------------------*/

/*MAIN*/

.main-nosotros {
  height: 100%;
}

/*HERO*/

.inicio-padre {
  padding: 100px;
  display: flex;
  align-items: center;
  background-image: url(../images/background-marmol.jpg);
  background-size: cover;
}

.inicio-hijo {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 26px;
  flex: 1;
}

.inicio-hijo-foto {
  display: flex;
  justify-content: center;
  flex: 1;
}

.foto {
  width: 400px;
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*NUESTRAS MARCAS*/

.nuestrasmarcas {
  color: white;
  text-align: center;
  background-color: #323638;
  font-size: 40px;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*CARDS*/

.card__ {
  padding: 100px;
  display: flex;
  gap: 2rem;
}

.card__a {
  background-color: #272727;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.card__img {
  height: 300px;
  max-width: 100%;
}

.card__info {
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card__info a {
  color: white;
}

.card__titulo {
  font-size: 20px;
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

/*FORMULARIO CONTACTO*/

.form__ {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.formulario__ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}

.formulario__contacto {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.formulario__div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.div__text {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color: #31384a;
  border: none;
  color: white;
  font-weight: 500;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

/*--------------------------------------*/

/*TALLES*/

.talles__titulo123 {
  color: white;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.grid__padre {
  display: grid;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 100px;
}

.grid__hijo {
  background-color: #212529;
  border: 2px solid #323638;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.grid__tipos {
  font-size: 60px;
  color: #a807a8fd;
}

.grid__hijo:hover {
  cursor: pointer;
  color: #a807a8fd;
}

/*NOSOTROS*/

.nosotros {
  padding-top: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nosotros__titulo {
  font-size: 50px;
  padding-bottom: 50px;
}

.nosotros__subtitulo {
  font-size: 40px;
  padding-bottom: 50px;
}

.nosotros__texto {
  padding-top: 50px;
  font-size: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

/*PAGINA - ANTI SOCIAL SOCIAL CLUB*/

.titulo {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo__texto {
  color: white;
  font-size: 40px;
}

/*PAGINA JORDAN con GRIDS*/

.grid__padre__jordan {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*FOOTER*/

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #181a1b;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.extra {
  width: 100%;
}

.extra1 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__redes {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
}
.footer li {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}

.footer__img {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.footer__text {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  transition: 0.2;
}

footer ul:hover a {
  filter: blur(2px);
}

footer ul li a:hover {
  filter: none;
}

.h2,
h2 {
  font-size: 5rem;
}

/*---------------------------------------*/

@media screen and (max-width: 1500px) {
  /*CARDS*/

  .card__ {
    padding: 100px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card__img {
    height: 500px;
    max-width: 100%;
  }
}

/*---------------------------------------*/

@media screen and (max-width: 991px) {
  /*HEADER*/

  header {
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  .hero__h {
    display: none;
  }
}

/*-----------------------------------------*/

@media screen and (max-width: 800px) {
  /*CARDS*/

  .card__ {
    padding: 100px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .card__img {
    height: 400px;
    max-width: 100%;
  }
}

/*-----------------------------------------*/

@media screen and (max-width: 768px) {
  /*HERO*/

  .inicio-padre {
    flex-direction: column;
  }

  .foto {
    width: 500px;
  }

  header {
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  /*TALLES*/

  .grid__padre {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 50px;
  }

  .grid__hijo {
    font-size: 70px;
  }

  /*NOSOTROS*/

  .nosotros__texto {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    font-size: 30px;
  }

  .nosotros__subtitulo {
    padding-bottom: 10px;
  }

  .card__info p {
    font-size: 30px;
  }
}

/*----------------------------------------------*/

@media screen and (max-width: 480px) {
  header {
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  /*HERO*/

  .inicio-padre {
    flex-direction: column;
  }

  .inicio-hijo {
    font-size: 0rem;
  }

  .foto {
    width: 20rem;
  }

  /*NUESTRAS MARCAS*/

  .card {
    flex-direction: column;
  }

  .nuestrasmarcas {
    font-size: 2rem;
  }

  .card__ {
    padding: 20px;
    display: flex;
    gap: 50px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .card__titulo {
    font-size: 2rem;
  }

  .card__info a {
    font-size: 1rem;
  }

  /*PAG JORDAN*/

  .grid__padre__jordan {
    display: flex;
  }

  /*NOSOTROS*/

  .nosotros__titulo {
    font-size: 2rem;
  }

  .nosotros__subtitulo {
    font-size: 1.5rem;
  }

  .nosotros__texto {
    padding: 1rem;
    text-align: center;
  }

  .nosotros__subtitulo {
    padding-bottom: 10px;
  }

  .nosotros__texto {
    font-size: 1.5rem;
  }

  /*TALLES*/

  .grid__padre {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 50px;
  }

  .talles__titulo {
    font-size: 3rem;
  }

  .grid__hijo {
    font-size: 2rem;
  }

  .card__img {
    height: 300px;
    max-width: 100%;
  }

  .h2,
  h2 {
    font-size: 3rem;
  }
}

/*galaxy S8 css viewport size 360x740*/

@media screen and (max-width: 460px) {
  .form__ {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .form__ {
    width: 320px;
  }

  .h2,
  h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .card__titulo {
    font-size: 1.5rem;
  }

  .card__info a {
    font-size: 1rem;
  }
}
