html {
  scroll-behavior: smooth;
}

.marcas {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

.extra1 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul:hover a {
  filter: blur(2px);
}

footer ul li a:hover {
  filter: none;
}

/*-----------------------*/

.h2,
h2 {
  font-size: 5rem;
}

.titulo__display {
  display: none;
}

/*---------------------------------------*/

@media screen and (max-width: 1500px) {
  /*CARDS*/

  .card__ {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card__img {
    height: 500px;
    max-width: 100%;
  }
}

/*---------------------------------------*/

@media screen and (max-width: 991px) {
  /*HEADER*/

  header {
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  .hero__h {
    display: none;
  }

  header {
    position: static;
    width: none;
    top: none;
    z-index: none;
  }

  body {
    padding-top: 0rem;
  }
}

/*-----------------------------------------*/

@media screen and (max-width: 800px) {
  /*CARDS*/

  .card__ {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .card__img {
    height: 400px;
    max-width: 100%;
  }

  .hero__display {
    display: none;
  }

  .titulo__display {
    display: flex;
    padding-top: 5rem;
  }
}

/*-----------------------------------------*/

@media screen and (max-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  /*------------------------------------*/

  /*medios de pago*/

  .medios__pagoimg {
    width: 600px;
  }
}

/*----------------------------------------------*/

@media screen and (max-width: 600px) {
  /*medios de pago*/

  .medios__pagoimg {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {
  header {
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  /*NUESTRAS MARCAS*/

  .card {
    flex-direction: column;
  }

  .nuestrasmarcas {
    font-size: 2rem;
  }

  .card__ {
    padding: 20px;
    display: flex;
    gap: 50px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .card__titulo {
    font-size: 2rem;
  }

  .card__info a {
    font-size: 1rem;
  }

  /*PAG JORDAN*/

  .grid__padre__jordan {
    display: flex;
  }

  .card__img {
    height: 300px;
    max-width: 100%;
  }

  .h2,
  h2 {
    font-size: 3rem;
  }

  /*medios de pago*/

  .medios__pagoimg {
    width: 380px;
  }
}

/*galaxy S8 css viewport size 360x740*/

@media screen and (max-width: 420px) {
  .h2,
  h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .card__titulo {
    font-size: 1.5rem;
  }

  .card__info a {
    font-size: 1rem;
  }

  /*medios de pago*/

  .medios__pagoimg {
    width: 330px;
  }
}

.card__efectohover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.card__efectohover:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
