/*HERO*/

.inicio-padre {
  padding: 100px;
  display: flex;
  align-items: center;
  background-image: url(../images/background-marmol.jpg);
  background-size: cover;

  .inicio-hijo {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 26px;
    flex: 1;
  }

  .inicio-hijo-foto {
    display: flex;
    justify-content: center;
    flex: 1;

    .foto {
      width: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  /*HERO*/

  .inicio-padre {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .inicio-padre {
    flex-direction: column;

    .inicio-hijo {
      font-size: 0rem;
    }
  }

  .inicio-padre .inicio-hijo-foto .foto {
    width: 15rem;
  }
}

/*titulo nuestras marcas*/

.nuestrasmarcas {
  color: white;
  text-align: center;
  background-color: $colorBody;
  font-size: 40px;
}

/*formulario*/

.formulario__ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorCard__a;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;

  .form__ {
    width: 450px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;

    .formulario__contacto {
      color: white;
      font-size: 30px;
      display: flex;
      justify-content: center;
    }

    .div__text {
      /*EXTEND*/
      @extend .formulario__contacto;
      /* color: white; */
      font-size: 20px;
      /* display: flex;
      justify-content: center; */
    }

    input,
    textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
    }

    textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%;
    }

    #boton {
      background-color: $colorBoton;
      border: none;
      color: white;
      font-weight: 500;
      padding: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 460px) {
    .form__ {
      width: 400px;
    }
  }

  @media screen and (max-width: 420px) {
    .form__ {
      width: 320px;
    }
  }

  @media screen and (max-width: 330px) {
    .form__ {
      width: 200px;
    }
  }
}

/*NEWSLETTER*/

.newsletter {
/*   display: flex;
 */  /* align-items: center; */
  /* text-align: center; */
  background-color: $colorBody;
  color: white;
  padding: 5rem;
  flex-direction: column;
  /* justify-content: center; */

  /*MIXIN*/
  @include DflexCenter; 

  .newsletter__nombre {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
  }

  .newsletter__subtitulo1 {
    @extend .newsletter__nombre;
    /* display: flex;
    text-align: center;
    align-items: center; */
/*     padding: 0.5rem;
 */    font-size: 2rem;
  }

  .newsletter__subtitulo2 {
    @extend .newsletter__nombre;
    /* display: flex;
    text-align: center;
    align-items: center;
    padding: 0.5rem; */
  }

  .newsletter__email {
    padding: 0.5rem;

    .newsletter__emailinput {
      width: 35rem;
      height: 2rem;
      border-color: $colorViolet;
    }

    #boton {
      background-color: $colorBoton;
      border: none;
      color: white;
      font-weight: 400;
      padding: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .newsletter__email {
    display: flex;
    flex-direction: row;
  }

  .newsletter__emaildivboton {
    padding-left: 1rem;
  }

  @media screen and (max-width: 800px) {
    .newsletter__email {
      .newsletter__emailinput {
        width: 25rem;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .newsletter__email {
      .newsletter__emailinput {
        width: 15rem;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .newsletter__email {
      .newsletter__emailinput {
        width: 20rem;
      }

      .newsletter__emaildivboton {
        padding-top: 1rem;
        padding-left: 0rem;
      }
    }

    .newsletter__email {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 360px) {
    .newsletter__email {
      .newsletter__emailinput {
        width: 18rem;
      }
    }
  }
}

/*medios de pago*/

.medios__pago {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: $colorCard__a;

  .mediospago__titulo {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
  }

  .medios__pagoimg {
    padding-bottom: 2rem;
  }
}
