@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

$fontmontserrat: "Montserrat", sans-serif;

$colorBody: #323638;

$colorViolet: #a807a8fd;

$colorCard__a: #272727;

$colorBoton: #31384a;

$colorGridhijo: #212529;

$colorFooter: #181a1b;
